{% extends 'common/menu.html' %}
{% load getverbose %}
{% block title %} {{  MYCONTEXT.title }}{% endblock %}

{% block content_block %}
<br>
<div class="container-fluid">
    <form method="get">
        <table class="table table-striped table-bordered table-sm">
            <td>
                <a href="{{ MYCONTEXT.create }}" style="text-decoration: none;">
                    <button class="new-btn new-button" type="button">
                        New Reason</button></a>
            </td>
        </table>
    </form>


    <table class="table table-striped table-bordered table-sm">
        <thead class="bg-info">
        <tr>
            {% for field,attrs in listview_filed_dict.items %}
            <th>{{attrs}}</th>
            {% endfor %}
            <th>Actions</th>
        </tr>
        </thead>

        <tbody>
        {% for row in rows %}
        <tr>
            {% for field in listview_filed_dict %}
            {% if field == 'comp_name' %}
            <td><a href="?company_id={{row.reason_code_id}}">{{ row|get_instance_field_value:field }}</a></td>
            {% else %}
            <td>{{ row|get_instance_field_value:field }}</td>
            {% endif %}
            {% endfor %}
            <td>
                <a href="/setup/reasons_update/{{ row.reason_code_id }}/">Edit</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


<div class="container">
    {% if details %}
    <h3>Company Details</h3>
    <a href="/setup/company_delete/{{ company.reason_code_id}}/">
        <button class="btn btn-danger">Delete</button>
    </a>
    <div class="row">
        {% for field in details %}
        {% include '_model_detailform.html' %}
        {% endfor %}
    </div>
    {% endif %}
</div>

{% endblock %}


