{% extends 'common/model_form.html' %}

{% block title %} Edit Unit of Measurement - {{object}} {% endblock %}

{% block moduletitle %}
<h2> Edit - {{object}}  </h2>
{%  endblock %}

{% block postform %}

<a href="/setup/uom_list/" style="text-decoration: none;">
    <button type="button" class="cancel-btn cancel-button">Cancel</button>
</a>

<a href="/setup/uom_delete/{{object.uom_id}}/" style="text-decoration: none;">
    <button type="button" class="delete-btn delete-button">Delete</button>
</a>

{% endblock %}