{% extends 'common/masterdetail_edit.html' %}
{% block title %} Manufacturer {% endblock %}
{% block findaction %} /inv/category/ {% endblock %}
{% block findform %}
{% endblock %}
{% block findformaction  %}/inventory/manf/{% endblock %}
{{ MYCONTEXT }}
{% block parenttitle %}Manufaturer(<a href={% url 'inventory:manf' %}?operation=parent_new><img src="/static/admin/img/icon-addlink.svg" alt="Add"></a>)
{%  endblock %}
{% block parentrowsbody %}
<th scope="row"><a href={% url 'inventory:manf' %}?parentid={{ row.manf_id }}&nm={{row.manf_name|safe}}>{{ row.manf_name }}</a></th>

{% endblock %}
{% block childtitle %}
        {% if childprefix %}
                {%  if parentid %}
                    Sub Category
                 (<a href={% url 'inventory:manf' %}?parentid={{ parentid }}&operation=child_new><img src="/static/admin/img/icon-addlink.svg" alt="Add"></a>)
                {% endif %}
    {% endif %}
{% endblock %}
{% block childrowsbody %}
    {% if childprefix %}
        <th scope="row"><a href={% url 'inventory:manf' %}?parentid={{ row.manf_id }}&nm={{nm}}>{{ row.manf_id }}</a></th>
    {%  endif %}

{% endblock %}
{% block parentdelete %}
<td>   <a href={% url 'inventory:manf_delete' parentid %}><img src="/static/admin/img/icon-deletelink.svg" alt="Delete"></a></td>
    <!--img src="/static/admin/img/icon-deletelink.svg" alt="Delete"-->
    <!--button><span class="fa fa-trash" style="color: red;"></span></button-->
{% endblock %}
{% block childdelete %}
    <td>   <a href={% url 'inventory:manf_delete' childid %}><button><span class="fa fa-trash" style="color: red;"></span></button></a></td>
{% endblock %}
{% block tableheader %}
 {% endblock %}
{% block tablerow %}
{% endblock %}
{% block rowaction %}

{% endblock %}
{% block createaction %}
{% endblock %}


