{% extends 'common/enquiry_list.html' %}
{% block moduletitle %}
    Item In Sub Location
{% endblock %}
{% comment %}
{% block findaction %}{% url 'enquiry:iteminsublocation' %}{% endblock %}
{% endcomment %}
{% block getpost %}get{% endblock %}
{% block tableheader %}
    <th>Location</th>
    <th>Sub Location</th>
    <th>Subloc Group</th>
    <th>SubLoc Type</th>
    <th>Item Number </th>
    <th>Item Name </th>
    <th>Quantity </th>
    <th>Actions </th>

 {% endblock %}
{% block tablerow %}
    <td>{{row.location_id.location_name }}</td>
    <td>{{row.sub_location_id.sub_location }}</td>
    <td>{{row.sub_location_id.sub_loc_group_code }}</td>
    <td>{{row.sub_location_id.sub_location_type}}</td>
    <td>{{row.item_id.item_number }}</td>
    <td>{{row.item_id.item_name }}</td>
    <td>{{row.quantity }}</td>
    <td> <a href={% url 'enquiry:iteminlocation' %}?location={{ row.location_id.location_id }}>Loc Stock </a></td>
{% endblock %}
{% block rowaction %}
{% endblock %}
    {% block postlist %}
  {% endblock %}

        <div> <h3> {% block tabletitle2 %} {% endblock  %}  </h3> </div>
        {% block tableheader2 %}

        {% endblock %}
    {% block tablerow2 %}
        {% endblock %}
{% block tabletitle3 %}   {% endblock  %}
        {% block tableheader3 %}
        {% endblock %}
       {% block tablerow3 %}

        {% endblock %}
{% block tabletitle4 %} Lines  {% endblock  %}
        {% block tableheader4 %}

        {% endblock %}
       {% block tablerow4 %}
        {% endblock %}
{% block createaction %}

{% endblock %}


