{% extends 'common/enquiry_list.html' %}
{% block moduletitle %}
  Sub Locations
{% endblock %}
{% comment %}
{% block findaction %}{% url 'enquiry:iteminsublocation' %}{% endblock %}
{% endcomment %}
{% block getpost %}get{% endblock %}
{% block tableheader %}

 {% endblock %}
{% block tablerow %}
{% endblock %}
{% block rowaction %}
{% endblock %}
    {% block postlist %}
  {% endblock %}

        <div> <h3> {% block tabletitle2 %} {% endblock  %}  </h3> </div>
        {% block tableheader2 %}

        {% endblock %}
    {% block tablerow2 %}
        {% endblock %}
{% block tabletitle3 %}   {% endblock  %}
        {% block tableheader3 %}
        {% endblock %}
       {% block tablerow3 %}

        {% endblock %}
{% block tabletitle4 %}   {% endblock  %}
        {% block tableheader4%}

        {% endblock %}
       {% block tablerow4 %}
        {% endblock %}
{% block createaction %}

{% endblock %}


